Django==6.0.3
mysqlclient==2.2.8
python-decouple==3.8
Pillow==12.1.1
django-crispy-forms==2.6
Crispy-bootstrap5==2025.6
dj-database-url==2.1.0
psycopg2-binary==2.9.10; python_version < "3.13"
psycopg[binary]; python_version >= "3.13"
